@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  img {
    vertical-align: middle;
  }
  a {
    display: block;
    text-decoration: none;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
}

@layer components {
  .menuUnderline {
    position: relative;
  }
  .menuUnderline::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: var(--textBlack_7D8184);
    transition: all linear 0.2s;
  }
  .menuUnderline:hover::after {
    transform: scale(1);
  }
  .amount {
    position: relative;
  }
  .amount::after {
    position: absolute;
    content: "0";
    top: -10px;
    right: -6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--red_DB4444);
    font-size: 15px;
    border-radius: 50%;
    color: var(--white_FAFAFA);
  }
  .dropDown:hover {
    background-color: var(--white_F5F5F5);
    color: var(--black_363738);
    transition: all linear 0.2s;
    cursor: pointer;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
  }
  .ExperienceImg img {
    z-index: 99;
  }
  .ExperienceImg::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 170px;
    height: 140px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -40%);
    z-index: 1;
    box-shadow: 0px 0px 1000px 140px rgba(217, 217, 217, 0.47);
  }
}

:root {
  --white_FFFFFF: #ffffff;
  --black_363738: #363738;
  --white_F5F5F5: #f5f5f5;
  --white_FEFAF1: #fefaf1;
  --white_FAFAFA: #fafafa;
  --textBlack_7D8184: #7d8184;
  --textBlack_000000: #000000;
  --red_DB4444: #db4444;
  --greenButton_00FF66: #00ff66;
  --redHover_E07575: #e07575;
  --blueHover_A0BCE0: #a0bce0;
  --popins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}
